.summary-div{
    border: 2px solid rgb(233, 220, 233);
    border-radius: 10px;
    margin: 10px 10px;
    background-image: linear-gradient(to right, #D31A5E,#f603ad);
    color: white;
}

.summary-div h3{
    margin: 50px 50px;
    border-bottom: 2px solid white;
    line-height: 40px;
}

.total-summery-value{
    text-align: justify;
    margin: 25px;
    line-height: 30px;
}

.sticky-div{
    position: sticky;
    top: 0;
}