.card-parent-div{
    width: 95%;
    display: grid;
    border: 1px solid rgb(233, 220, 233);
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.card-parent-div img{
    margin: 10px;
    border-radius: 50%;
    width:100px;
    height:100px; 
}

.card-parent-div h3,h4,h5,h6{
    margin: 3px;
    text-align: left;
    
}
button{
    text-align: left;
    background-image: linear-gradient(to right, #D31A5E,#f603ad);
    padding: 5px 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

button:hover{
    box-shadow: -2px 2px 5px gray;
    cursor: pointer;
}

.details-div{
    text-align: left;
}
.details-div h2{
    /* background-image: linear-gradient(to right, #D31A5E,#f603ad); */
    margin: 15px 0px;
    color: #D31A5E;
}

.id{
    margin-left:50px ;
    margin-bottom: 20px;
    color: cadetblue;
}