.card-parent-div{
    display: grid;
    grid-template-columns: 4fr 8fr;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    margin: 10px;
}
.card-parent-div h3,h4,h5,h6{
    margin: 3px;
}